<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ScreenshotBypassPrefs</string>
	<key>CFBundleExecutable</key>
	<string>ScreenshotBypassPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourname.screenshotbypassprefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>PrincipalClass</key>
	<string>RootListController</string>
</dict>
</plist>