<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose the apps that should ignore screenshot detection.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SBPScreenshotAppsController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Screenshot Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose the apps that should ignore screen recording detection.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SBPRecordAppsController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Recording Apps</string>
		</dict>
	</array>
	<key>title</key>
	<string>ScreenshotBypass</string>
</dict>
</plist>
